

.tituloListagem{
    margin-left: 20px;
    
}
.listagem{
    background-color: rgb(236, 247, 247);
}

.listaAlunos{
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Cabectabela{
    color: rgb(0, 0, 0);
    background-color: rgb(159, 172, 219);
    font-size: 20px;
    text-align: left;
}
th,td{
    padding:10px;
}
.tabTituloRa{
    width: 100px;
}
.tabTituloNome{
    width: 400px;
}
input[type=text]{
    display: inline-block;
    width: 20%;
    padding: 12px;
    margin:  8px 0;
}
input[type=number]{
    padding: 12px;
    width: 50px;
}
.inclui-alunos{
    margin: 20px;
    border-radius: 5px;
    background-color: #b1daf0;
    padding: 20px;
}
.btnSalvar{
    background-color: rgb(127, 147, 241);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:5px 5px 5px 30px;
}
.btnCancelar{
    background-color:rgb(127, 147, 241);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:5px;
}
label{
    padding: 10px;
}
.tituloCadastro{
    margin-left: 30px;
}

label{
    padding: 10px;
}
.btnAltera{
    background-color:rgb(127, 147, 241);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:5px;
}

.btnRemove{
    background-color:rgb(127, 147, 241);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:5px;
}
